<h1>dashboard</h1>

<%= shout_form_for(TextShout) do |form| %>
  <%= form.text_field :body, placeholder: "shout here!", required: true %>
<% end %>
<%= shout_form_for(PhotoShout) do |form| %>
  <%= form.file_field :image, required: true %>
<% end %>

<h3>displayed shouts</h3>
<%= render @shouts %>

<!-- <h3>displayed image shouts</h3> -->
